<section class="articles">
  <article class="articles__item" *ngFor="let article of mergedArray$ | async">
    <div class="col-xs-1 col-md-1">
      {{ article?.comments?.length }}<br />answers
    </div>
    <h2 class="barlow-thin" routerLink="{{ article.slug }}">{{ article.title.rendered }}</h2>
  
    <div [innerHTML]="article.excerpt.rendered | truncate: 360"></div>
  
    <div class="row">
      <div>
        <span *ngFor="let tag_name of article.tag_names">
          <a href="#" class="badge bg-secondary">{{ tag_name }}</a>&nbsp;
        </span>
      </div>
      <div class="col-xs-3 col-md-3">
        <span>{{ article.date }}</span>
      </div>
    </div>
    <hr />
  </article>
</section>