.articles {
  &__item {
    h2 {
      cursor: pointer;
      font-size: 2.5rem;
    }

    div {
      ::ng-deep {
        p {
          font-size: .9rem;
          line-height: 1.7rem;
        }
      }
    }

    hr {
      max-width: 100px;
      background-color: #3a3a3a;
      margin: 4vw auto 2vw;
    }
  }
}