<section class="articles">
  @for (article of mergedArray$ | async; track article.id) {
    <article class="articles__item">
      <h2 class="barlow-thin" routerLink="{{ '/' + article.slug }}">{{ article.title.rendered }}</h2>
    
      <div [innerHTML]="article.excerpt.rendered | truncate: 360"></div>
    
      <ul class="tags">
        @for (tag_name of article.tag_names; track $index) {
          <li class="tags__item">{{ tag_name }}</li>
        }
      </ul>
    
      <ul class="info">
        <li>{{ article?.comments?.length }} komentarzy</li>
        <li>{{ article.date | date: 'short' }}</li>
      </ul>
      <hr />
    </article>
  }

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      @for (page of [].constructor(pageCount); track $index) {
        <li routerLink="/page/{{ $index + 1 }}">{{ $index + 1 }}</li>
      }
    </ul>
  </nav>
</section>